<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CommonModelContainer"    connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetCommon_D;          User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="ResourceModelContainer"  connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetResource_D;        User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="WrongQuesModelContainer" connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetWrongQues_D;       User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="ExamModelContainer"      connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetExam_D;            User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LearningModelContainer"  connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetLearning_D;        User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="VoteModelContainer"      connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetVote_D;            User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="TMModelContainer"        connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetTM_D;              User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="Log4NetModelContainer"   connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetLog_D;             User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="CoreModelContainer"      connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetCommon_D;          User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="HomeModelContainer"      connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetHome_D;            User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="DailyLogModelContainer"  connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetDailyLog_D;        User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LSModelContainer"        connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetLS_D;              User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="TMSModelContainer"       connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetTMS_D;             User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="FSEModelContainer"       connectionString="Data Source=192.168.1.8\sql2012;Initial Catalog=JetFiveStarEval_D;    User ID=sa;Password=jetmaster;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
 